<user-form (employeesUpdated)="receiveEmployee($event)"></user-form>

<div class="row">
    <div class="col-md-2">
        <label for="id">ID: </label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control" value=" {{ID}}" id="id" disabled />
    </div>
    <div class="col-md-2">
        <label for="name">Name: </label>
    </div>
    <div class="col-md-10">
        <input type="text" class="form-control" value=" {{Name}}" id=" name " [disabled]='forgot' />
    </div>
    <div class="col-md-2">
        <label for="sex ">Sex: </label>
    </div>
    <div class="col-md-10">
        <input type="text " class="form-control " value=" {{Sex}} " id="sex " [disabled]='forgot' />
    </div>
    <div class="col-md"></div>
    <div class="col-md">
        <button class="btn btn-warning btn-xs" type="submit">Edit</button>
        <button class="btn btn-success btn-xs" type="submit" [hidden]='hideSaveButton'>Save</button>
        <button class="btn btn-danger btn-xs" type="submit" [hidden]='hideDeleteButton'>Delete</button>
    </div>
    <div class="col-md">
        <input type="image" src="{{Image}} " width="690 " height="500 " [hidden]='forgot' disabled />
    </div>

</div>